body { 
	padding: 0; 
	margin: 0; 
	overflow: hidden 
}
#unity-container { 
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	background: #000000;	
}
#unity-canvas { 
	position: absolute; 
	width: 100%; 
	max-height: 100%; 
	background: #000000;
}
#unity-loading-bar { 
	position: absolute; 
	left: 50%; top: 38%; 
	transform: translate(-50%, -50%); 
	display: none 
}
#unity-progress-bar-empty { 
	width: 484px; height: 32px; 
	margin-top: 10px; 
	background: url('progress-bar-empty-dark.png') no-repeat center 
}
#unity-progress-bar-full { 
	width: 0%; height: 32px; 
	margin-top: 10px; 
	background: url('progress-bar-full-dark.png') no-repeat center 
}

